show index

  <div class="sortable" id="contents">
  <% @step.contents.each do |content| %>
    <div class="content_item" data-id="<%= content.id %>">
        <p>Position: <%= content.position %></p>
      <p>
        <strong>Text:</strong>
        <%= content.text %>
      </p>
    </div>

    <% end %></div>

<%= link_to 'Back to tasklist', tasklist_path(@tasklist) %>
