<!DOCTYPE html>
<html>
  <head>
    <title>TasklistGenerator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="tasklist-editor-nav">

    </div>
    <div class="wrapper" id="wrapper">
      <main id="content" role="main" class="content">
        <%= yield %>
      </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>

    <script>
      $(".edit-button").click(function(){
        $(".editor").toggle();

        if ($("#edit-button").hasClass("disabled")){
          $("#edit-button").removeClass("disabled").addClass("enabled");
        }
        else{
          $("#edit-button").removeClass("enabled").addClass("disabled");
        }

        if ($("#tasklist-wrapper").hasClass("no-border")) {
          $("#tasklist-wrapper").removeClass("no-border").addClass("tasklist-wrapper-border");
        }
        else {
          $("#tasklist-wrapper").removeClass("tasklist-wrapper-border").addClass("no-border");
        }
      });

      var clipboard = new Clipboard('.copy_button');

      clipboard.on('success', function(e) {
          // console.info('Action:', e.action);
          // console.info('Text:', e.text);
          // console.info('Trigger:', e.trigger);
          window.alert("Copied to clipboard: " + e.text)
          e.clearSelection();
      });
    </script>
  </body>
</html>
